@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    border-color: #27272a;
  }

  body {
    @apply bg-zinc-950 text-zinc-50;
    font-feature-settings: "rlig" 1, "calt" 1;
  }

  ::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  ::-webkit-scrollbar-track {
    @apply bg-zinc-950;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-zinc-700 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-zinc-600;
  }
}
